<html>
  <head>
    <title>Bookmarks</title>
    <link rel=stylesheet href="{{ url_for('static', filename='stylesheet.css') }}" type=text/css>
  </head>
  <body>
    <!--
    <div id="toolbar">
      <div class="tbarItem">Stuff</div>
      <div class="tbarItem">Things</div>
    </div>
    -->
    <div id="body">
      {% block body %}
      {% endblock %}
    </div>
  </body>
